<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example SQLi vulnerable site</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="duration-200 ease-out bg-stone-900">
    <header class="bg-blue-500 flex justify-between p-4">
        <nav class="flex mx-auto">
            <div class="flex items-center space-x-8">
                <a class="ml-4 text-white hover:text-gray-200" href="/">Home</a>
                {% if data.username %}
                <a class="ml-4 text-white hover:text-gray-200" href="/profile">Profile</a>
                <a class="ml-4 text-white hover:text-gray-200" href="/logout">Logout</a>
                {% else %}
                <a class="ml-4 text-white hover:text-gray-200" href="/signup">Register</a>
                <a class="ml-4 text-white hover:text-gray-200" href="/login">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="mt-24 flex items-center justify-center">
        <div class="p-8 rounded-lg shadow-2xl bg-zinc-800 mt-24 text-center text-white hover:translate-x-3 hover:-translate-y-1 duration-1000 ease-in-out">
            <h1 class="text-4xl font-bold mb-4">SQL injection úloha</h1>
            <p>Tato stránka je pouze pro výukové účely.</p>
            <p>Nezadávejte zde žádná citlivá data. Data zde zadaná mohou být zneužita.</p>
        </div>
    </main>

</body>